* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color:#a988b1;
    --cor-secundaria: #ab45ca62;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23c0c0c0' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
    font-family: Arial, Helvetica, sans-serif;
}

.section1 {
    display: flex;
    width: 100%;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}


/**********************************************************************************************************************/
aside {
    background-color: #1c021f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23c0c0c0' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
    padding:20px;
    width: 40%;
    text-align: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}
.nome1 {
    margin-bottom: 30px;
    font-size: 2em;
    text-decoration: overline;
    font-style: italic;
}
.github {
    margin: 10px;
    align-items: start;
}

.link {
    color: white;
}

.perfil img {
    margin-bottom: 15px;
    width: 100%;
    border-radius: 50%;
    flex-wrap: wrap;
    border: double 4px;
}
/************************************************************************************************************************/
.nome2 {
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 25px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/***********************************************************************************************************************/
.card1 {
    color: white;
    background-color: var(--cor-secundaria);
    flex-wrap: wrap;
    padding: 50px;
    margin-bottom: 20px;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.bordacard1 {
    border: double;
    padding: 5px;
    margin: 10px;
}

.bordacard1 p:hover {
    background-image: linear-gradient(180deg, #46087c, #9258ee);
    cursor: pointer
}

/************************************************************************************************************************/

.card2 {
    color: white;
    background-color: var(--cor-secundaria);
    flex-wrap: wrap;
    margin: 20px 5px;
    padding: 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.container1 {
    display: flex;
}

.container1flex {
    display: flex;
    flex-direction: column;
}

.container1 img {
    width: 140px;
    height: 127px;
    border: solid 1px;
    border-radius: 50px;
    padding: 5px;
    margin: 10px;
}

.container1 p {
    padding: 10px;
    margin: 10px;
}

.container1 p:hover {
    background-image: linear-gradient(180deg, #46087c, #9258ee);
    cursor: pointer
}

hr {
    border: double;
}

/************************************************************************************************************************/
.card3 {
    color: white;
    background-color: var(--cor-secundaria);
    margin: 20px;
    padding: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Network{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px 20px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 20px;
    margin: 20px;
    padding: 20px;
    width: 40%;
    background-color: #26307c44;
}

.container2 img {
    width: 300px;
    height: 300px;
    border-radius: 35%;
    padding: 10px;
}

.container2 a{
    text-align: center;
    padding: 25px;
    margin: 15px 10px;
    text-decoration: none;
    color: white;
}

.container2:hover,.container2 p:hover {
    background-image: linear-gradient(180deg, #46087c, #9258ee);
    border-radius: 8px;
    color: black
}

/***********************************************************************************************************************/
.icones p {
    display: inline-block;
    padding-left: 5px;
}

.botao a {
    font-size: 14px;
}

.botao {
    width: 60px;
    height: 60px;
    background-color: rgba(8, 87, 25, 0.479);
    color: rgb(245, 245, 245);
    font-size: 30px;
    border-radius: 50%;
    border: none;
    position: fixed;
    bottom: 15px;
    right: 5px;
    cursor: pointer
}

/*********************************************************************************************************************/

@media screen and (max-width: 480px){
    .section1 {
        flex-direction: column;
    }
    main {
        width: 100%;
    }
    aside {
        width: 100%;
        margin-bottom: 25px;
        position: static;
    }
    .perfil {
        width: 100%;
    }
    .card1{
        padding-bottom: 20px;
    }
    .card2 {
        display: flex;
        flex-direction: column;
        margin-top: 3px;
        padding-top: 20px;
    }

    .container1{
        flex-direction: column;
    }
    .container1 p {
        display: flex;
        flex-direction: column;
    }
    .container1 img {
        width: 90%;
        height:250px;
    }
    .container2 {
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .container2 {
        width: 100%;
        flex-direction: column;
    }
}